@import "../../../constants.scss";

.post {
    background-color: $darkerBackgroundColour;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 40vw;

    img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 40vw;
        height: 40vw;
    }

    h2 {
        grid-column: 2 / 3;
        grid-row: 1 /2;
        font-size: $mobile-subtitle-font-size;
        line-height: $mobile-subtitle-line-height;
        margin: 0;
        align-self: center;
    }
    p {
        margin: 0;
    }
}