@import "../../../constants.scss";

.user {
    background-color: $darkerBackgroundColour;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;


    .user-image {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        width: 30vw;
        height: 30vw;
        
    }

    h2 {
        grid-column: 2 / 3;
        grid-row: 1 /2;
        font-size: $mobile-subtitle-font-size;
        line-height: $mobile-subtitle-line-height;
        margin: 0;
        margin-top: 8vw;
        align-self: center;
    
    }
    .user-email {
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .user-user-name {
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}